.frame-child66 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0 0 var(--br-6xl) 0;
    background-color: var(--color-dodgerblue-600);
    box-shadow: 0 4px 40px -10px rgba(0, 0, 0, 0.15);
  }
  .object-icon31 {
    height: 29.5px;
    width: 33.9px;
    object-fit: cover;
    min-height: 30px;
  }
  .medicust28,
  .object-icon31 {
    position: relative;
    z-index: 1;
  }
  .rectangle-parent14 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-18xl) var(--padding-mini)
      var(--padding-17xl);
    position: relative;
    gap: var(--gap-9xs);
    white-space: nowrap;
  }
  .medication {
    position: relative;
    font-size: var(--font-size-xl);
    font-weight: 500;
    font-family: var(--font-ubuntu);
    color: var(--color-darkslateblue-300);
    text-align: left;
  }
  .frame-disease-frame {
    cursor: pointer;
    border: 0;
    padding: var(--padding-2xs) var(--padding-22xl) var(--padding-2xs)
      var(--padding-26xl);
    background-color: var(--color-white);
    border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
    box-shadow: var(--dropdown);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .frame-disease-frame-parent .frame-disease-frame,
  .frame-disease-frame,
  .frame-disease-frame,
  .frame-disease-frame,
  .frame-disease-frame,
  .frame-disease-frame {
    background-color: #0088FF;
    color: #0A2E72;
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    background-color: var(--color-white);
    border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
    box-shadow: var(--dropdown);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 191px;
    height: 45px;
    font-size: medium;
    font-weight:normal;
  }
  .frame-disease-frame-parent .frame-disease-frame:hover,
  .frame-disease-frame:hover,
  .frame-disease-frame:hover,
  .frame-disease-frame:hover,
  .frame-disease-frame:hover,
  .frame-disease-frame:hover{
    font-weight: bolder;
    font-size: large;
    background-color: #80C3FF;
    color: white;
  }
  
  .disease {
    position: relative;
    font-size: var(--font-size-xl);
    font-weight: 500;
    font-family: var(--font-ubuntu);
    color: var(--color-darkslateblue-300);
    text-align: left;
  }
  .frame-disease-frame1 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-2xs) var(--padding-35xl) var(--padding-2xs)
      var(--padding-42xl);
    background-color: var(--color-white);
    border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
    box-shadow: var(--dropdown);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
  }
  .description {
    position: relative;
    font-size: var(--font-size-xl);
    font-weight: 500;
    font-family: var(--font-ubuntu);
    color: var(--color-darkslateblue-300);
    text-align: left;
  }
  .frame-disease-frame2 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-2xs) var(--padding-19xl) var(--padding-2xs)
      var(--padding-26xl);
    background-color: var(--color-white);
    border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
    box-shadow: var(--dropdown);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .precuation {
    position: relative;
    font-size: var(--font-size-xl);
    font-weight: 500;
    font-family: var(--font-ubuntu);
    color: var(--color-darkslateblue-300);
    text-align: left;
  }
  .frame-disease-frame3 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-2xs) var(--padding-24xl) var(--padding-2xs)
      var(--padding-27xl);
    background-color: var(--color-white);
    border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
    box-shadow: var(--dropdown);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .workout {
    position: relative;
    font-size: var(--font-size-xl);
    font-weight: 500;
    font-family: var(--font-ubuntu);
    color: var(--color-darkslateblue-300);
    text-align: left;
  }
  .frame-disease-frame4 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-2xs) var(--padding-35xl) var(--padding-2xs)
      var(--padding-37xl);
    background-color: var(--color-white);
    border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
    box-shadow: var(--dropdown);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .diet {
    position: relative;
    font-size: var(--font-size-xl);
    font-weight: 500;
    font-family: var(--font-ubuntu);
    color: var(--color-darkslateblue-300);
    text-align: left;
  }
  .frame-disease-frame5 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-2xs) 75px var(--padding-2xs) var(--padding-57xl);
    background-color: var(--color-white);
    border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
    box-shadow: var(--dropdown);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .frame-disease-frame-parent,
  .frame-parent49 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-disease-frame-parent {
    margin: 0;
    padding: 0 var(--padding-xl) 0 0;
    gap: var(--gap-11xl);
  }
  .frame-parent49 {
    gap: var(--gap-116xl);
  }
  .desktop-5-child {
    height: 100%;
    width: 466px;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 0 var(--br-3xs);
    max-height: 100%;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-child67 {
    height: 54px;
    width: 881px;
    position: relative;
    background-color: var(--color-lightskyblue-100);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15) inset;
    display: none;
    max-width: 100%;
  }
  .get-medicine-recommendation {
    height: 34px;
    position: relative;
    font-size: var(--font-size-11xl);
    font-family: var(--font-ubuntu);
    color: var(--color-darkslateblue-300);
    text-align: left;
    display: inline-block;
    z-index: 1;
  }
  .rectangle-parent15 {
    
    border: 0;
    padding: var(--padding-3xs) var(--padding-187xl);
    background-color: var(--color-lightskyblue-100);
    align-self: stretch;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15) inset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-parent15:hover {
    background-color: var(--color-steelblue);
  }
  .pills-png-clipart-359-1-icon {
    position: absolute;
    top: 57px;
    left: 32px;
    width: 411px;
    height: 285px;
    object-fit: cover;
  }
  .clipart-p-n-g-medicine,
  .frame-child68 {
    position: relative;
    border-radius: var(--br-3xs);
  }
  .clipart-p-n-g-medicine {
    align-self: stretch;
    height: 398px;
    background-color: var(--color-white);
    box-shadow: -5px 4px 8px rgba(0, 0, 0, 0.25) inset;
    border: 1px solid var(--color-darkslateblue-300);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-child68 {
    height: 50px;
    width: 476px;
    background-color: var(--color-dodgerblue-300);
    box-shadow: var(--dropdown);
    display: none;
    max-width: 100%;
  }
  .abfsagsindsdfgosigsiogsoign {
    position: relative;
    font-size: var(--font-size-6xl);
    font-family: var(--font-ubuntu);
    color: var(--color-white);
    text-align: left;
    z-index: 1;
  }
  .rectangle-parent16 {
    
    border: 0;
    padding: var(--padding-2xs) var(--padding-76xl) var(--padding-3xs)
      var(--padding-37xl);
    background-color: var(--color-dodgerblue-300);
    align-self: stretch;
    border-radius: var(--br-3xs);
    box-shadow: var(--dropdown);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-parent16:hover {
    background-color: var(--color-cornflowerblue-100);
  }
  .rectangle-clipart {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-mid);
    min-width: 309px;
    max-width: 100%;
  }
  .pngtree-cartoon-style-3d-illus-icon4 {
    height: 420px;
    width: 373px;
    position: relative;
    object-fit: contain;
    max-width: 100%;
  }
  .rectangle-clipart-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    row-gap: 20px;
    max-width: 100%;
  }
  .enter-your-symptoms {
    width: 154px;
    border: 0;
    outline: 0;
    font-weight: 300;
    font-family: var(--font-ubuntu);
    font-size: var(--font-size-mini);
    background-color: transparent;
    height: 17px;
    position: relative;
    color: var(--color-black);
    text-align: left;
    display: inline-block;
  }
  .recommendation-text {
    flex: 1;
    border-radius: var(--br-6xl);
    background-color: var(--color-white);
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.15) inset;
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-16xl);
    min-width: 154px;
    max-width: 100%;
  }
  .input-field-icon {
    height: 53px;
    width: 53px;
    position: relative;
  }
  .symptom-text,
  .vector-arrow {
    width: 756px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-58xl);
    max-width: 100%;
  }
  .vector-arrow {
    width: 851px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 var(--padding-11xs) 0 0;
    box-sizing: border-box;
    gap: var(--gap-106xl);
    max-width: 104%;
    flex-shrink: 0;
  }
  .getmedrecomm-frame,
  .query-recommendation-text,
  .vector-arrow-wrapper {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .vector-arrow-wrapper {
    width: 838px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 0 0 var(--padding-xl);
  }
  .getmedrecomm-frame,
  .query-recommendation-text {
    flex-direction: column;
  }
  .query-recommendation-text {
    align-self: stretch;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    box-shadow: var(--dropdown);
    overflow: hidden;
    align-items: flex-end;
    padding: 0 0 var(--padding-33xl);
    gap: var(--gap-80xl);
    z-index: 2;
  }
  .getmedrecomm-frame {
    width: 881px;
    align-items: flex-start;
    padding: 192px 0 0;
  }
  .desktop-52,
  .signin2 {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
  .desktop-52 {
    flex: 1;
    background-color: var(--color-dodgerblue-500);
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 193px;
    box-sizing: border-box;
    gap: 11px;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-6xl);
    color: var(--color-white);
    font-family: var(--font-ubuntu);
  }
  .signin2 {
    width: 100%;
    background-color: var(--color-white);
    align-items: center;
    justify-content: center;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1100px) {
    .getmedrecomm-frame {
      padding-top: var(--padding-106xl);
      box-sizing: border-box;
    }
    .desktop-52 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1025px) {
    .get-medicine-recommendation {
      font-size: var(--heading-size);
    }
    .symptom-text {
      gap: var(--gap-58xl);
    }
    .vector-arrow {
      gap: var(--gap-106xl);
    }
    .query-recommendation-text {
      gap: var(--gap-80xl);
      padding-bottom: var(--padding-15xl);
      box-sizing: border-box;
    }
    .desktop-52 {
      padding-bottom: var(--padding-106xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 750px) {
    .pngtree-cartoon-style-3d-illus-icon4 {
      flex: 1;
    }
    .rectangle-clipart-parent,
    .symptom-text {
      flex-wrap: wrap;
    }
    .getmedrecomm-frame {
      padding-top: var(--padding-62xl);
      box-sizing: border-box;
    }
    .desktop-52 {
      padding-bottom: var(--padding-62xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .description,
    .diet,
    .medication,
    .precuation,
    .workout {
      font-size: var(--body-1-size);
    }
    .frame-parent49 {
      gap: var(--gap-116xl);
    }
    .get-medicine-recommendation {
      font-size: var(--font-size-lg);
    }
    .rectangle-parent15 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .abfsagsindsdfgosigsiogsoign {
      font-size: var(--font-size-xl);
    }
    .rectangle-parent16 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .symptom-text {
      gap: var(--gap-58xl);
    }
    .vector-arrow {
      gap: var(--gap-106xl);
    }
    .query-recommendation-text {
      gap: var(--gap-80xl);
      padding-bottom: var(--padding-3xl);
      box-sizing: border-box;
    }
  }

  .question{
    background: none;
    border: none;
    cursor: pointer;

  }
  